# Tratamento, Limpeza e Análise de Dados: Revelando Insights

Dataset utilizado: Airbnb Open Data
https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata?resource=download

In [4]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

## Importando e visualizando o dataset

In [18]:
pd.set_option('display.max_columns', None)

columns = ['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules']

df = pd.read_csv("Airbnb_Open_Data.csv", usecols = columns)

ValueError: Usecols do not match columns, columns expected but not found: ['pais_cod', 'politica_cancel', 'ult_avaliacao', 'long', 'nome_anfitriao', 'taxa_servico', 'nome_reserva', 'num_anuncios_anfitriao', 'aval_p_mes', 'regras_reserva', 'bairro', 'tipo_reserva', 'lat', 'preco', 'reserva_imediata', 'min_noites', 'pais', 'anfitriao_verificado', 'anfitriao_id']

In [7]:
df.head(5)

,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
0,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."

In [9]:
df.dtypes

NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
dtype: object

## Tratamento e limpeza dos dados

### 1. Cálculo de "missing values" (valores nulos)

In [12]:
per_df = df.isnull().sum()/df.shape[0] * 100
per_df = pd.DataFrame({"colunas": per_df.keys(), "%": per_df})
per_df.reset_index(drop=True, inplace=True)
per_df

                           colunas          %
0                             NAME   0.243667
1                          host id   0.000000
2           host_identity_verified   0.281679
3                        host name   0.395715
4              neighbourhood group   0.028265
5                    neighbourhood   0.015595
6                              lat   0.007797
7                             long   0.007797
8                          country   0.518524
9                     country code   0.127682
10                instant_bookable   0.102340
11             cancellation_policy   0.074075
12                       room type   0.000000
13               Construction year   0.208579
14                           price   0.240743
15                     service fee   0.266084
16                  minimum nights   0.398639
17               number of reviews   0.178364
18                     last review  15.490404
19               reviews per month  15.476759
20              review rate number   0.317742
21  calculated host listings count   0.310919
22                availability 365   0.436651
23                     house_rules  50.810437

## Análise dos dados